<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<title>Gestion des Barèmes</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>


<body class="bg-light">


<div class="d-flex">


<div id="sidebar"></div>



<main class="container-fluid p-4">


<div class="d-flex justify-content-between align-items-center mb-4">

<h2>
💰 Gestion des barèmes de frais
</h2>


<button class="btn btn-primary">

<i class="bi bi-plus-circle"></i>
Ajouter un barème

</button>


</div>





<div class="card shadow border-0">


<div class="card-header bg-dark text-white">

Liste des barèmes

</div>


<div class="card-body">


<table class="table table-striped">


<thead>

<tr>

<th>Type opération</th>
<th>Montant minimum</th>
<th>Montant maximum</th>
<th>Frais</th>
<th>Actions</th>

</tr>

</thead>



<tbody>


<tr>

<td>
Retrait
</td>

<td>
100 Ar
</td>

<td>
1000 Ar
</td>

<td>
25 Ar
</td>

<td>

<button class="btn btn-warning btn-sm">
Modifier
</button>

<button class="btn btn-danger btn-sm">
Supprimer
</button>


</td>

</tr>




<tr>

<td>
Retrait
</td>

<td>
1001 Ar
</td>

<td>
5000 Ar
</td>

<td>
50 Ar
</td>


<td>

<button class="btn btn-warning btn-sm">
Modifier
</button>

<button class="btn btn-danger btn-sm">
Supprimer
</button>


</td>


</tr>





<tr>

<td>
Transfert
</td>

<td>
100 Ar
</td>

<td>
1000 Ar
</td>

<td>
50 Ar
</td>


<td>

<button class="btn btn-warning btn-sm">
Modifier
</button>

<button class="btn btn-danger btn-sm">
Supprimer
</button>


</td>


</tr>



</tbody>


</table>


</div>


</div>



</main>


</div>





<script>

fetch("../layout/sidebar.html")

.then(response=>response.text())

.then(data=>{

document.getElementById("sidebar").innerHTML=data;

});

</script>



</body>

</html>