<div class="d-flex flex-column p-3 bg-dark text-white"
     style="width:260px; min-height:100vh;">


    <h4 class="text-center mb-4">
        📱 Mobile Money
    </h4>


    <hr>


    <ul class="nav nav-pills flex-column mb-auto">


        <li class="nav-item mb-2">
            <a href="dashboard.html" 
               class="nav-link text-white">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>


        <li class="mb-2">
            <a href="operateurs.html" 
               class="nav-link text-white">
                <i class="bi bi-phone"></i>
                Opérateurs
            </a>
        </li>


        <li class="mb-2">
            <a href="prefixes.html" 
               class="nav-link text-white">
                <i class="bi bi-list-ol"></i>
                Préfixes
            </a>
        </li>


        <li class="mb-2">
            <a href="baremes.html" 
               class="nav-link text-white">
                <i class="bi bi-cash-stack"></i>
                Barèmes frais
            </a>
        </li>


        <li class="mb-2">
            <a href="clients.html" 
               class="nav-link text-white">
                <i class="bi bi-people"></i>
                Clients
            </a>
        </li>


        <li class="mb-2">
            <a href="gains.html" 
               class="nav-link text-white">
                <i class="bi bi-graph-up"></i>
                Gains
            </a>
        </li>


    </ul>



    <hr>


    <button class="btn btn-danger">
        <i class="bi bi-box-arrow-right"></i>
        Déconnexion
    </button>


</div>